/* PRIVACY PAGE */
.privacy-page h2 {
  color: #ff4d29;
  margin-top: 2rem;
  font-weight: 700;
}

.privacy-page p,
.privacy-page li {
  font-size: 15px;
  line-height: 1.7;
}

.privacy-page .lead {
  font-size: 16px;
  font-weight: 500;
}

.privacy-page hr {
  border-top: 2px solid #ff4d29;
  width: 60px;
  margin: 2rem 0;
}

.privacy-page a {
  color: #ff4d29;
  font-weight: 500;
}

.privacy-page a:hover {
  text-decoration: underline;
}

.top-nav .col-auto:last-child {
  color: #fff;
}

/* TERUG-KNOP */
.back-btn {
  background: transparent;
  color: #ff7a00;
  border: 2px solid #ff7a00;
}

.back-btn:hover {
  background: #ff7a00;
  color: #fff;
}